html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
  margin: 0;
}

p {
  margin: 0;
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* header */
.header {
  margin: 40px 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .header {
    grid-template-columns: 240px 1fr;
    justify-items: right;
  }
}

.logo {
  margin: 10px auto;
  height: 30px;
  display: block;
  width: 235px;
}

.menu {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.menu__item {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-decoration: none;
  max-width: 180px;
  color: #F03000;
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.menu__item:hover {
  background-color: #F03000;
  color: rgb(255, 255, 255);
}

/* sections */
.section {
  padding: 20px 0;
}
.section > p {
  margin-top: 20px;
}
.section > img {
  display: block;
  width: 100%;
  margin: 40px 0;
}

/* trips */
.trips-grid {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .trips-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 380px 180px;
    grid-auto-flow: dense;
  }
}
@media screen and (min-width: 960px) {
  .trips-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 180px);
  }
}

.trip {
  margin: 0;
  position: relative;
  border: 1px solid black;
  height: 150px;
}
@media screen and (min-width: 768px) {
  .trip {
    height: 180px;
  }
}
.trip:first-child {
  height: 240px;
}
.trip:first-child .trip__title {
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .trip:first-child {
    grid-column: 1/span 2;
    height: 380px;
  }
}
@media screen and (min-width: 960px) {
  .trip:first-child {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
}
@media screen and (min-width: 960px) {
  .trips-grid--last-min .trip:first-child {
    grid-column: 2/span 2;
    grid-row: 1/span 2;
  }
}
.trip__image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.trip__text {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 44px 1fr auto;
  align-items: end;
  justify-items: start;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(128, 128, 128, 0.5019607843));
}
.trip__price {
  background-color: #F03000;
  padding: 10px;
}
.trip__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.trip__description {
  padding-top: 15px;
  grid-column: 1;
}

.box-services {
  display: grid;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .box-services {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  .box-services {
    grid-template-columns: repeat(4, 1fr);
  }
}

.service {
  background-color: #F0F0F0;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 50px 1fr;
  align-items: start;
}
@media screen and (min-width: 768px) {
  .service {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.service__icon {
  justify-self: center;
  height: 40px;
}
.service__title {
  color: #F03000;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.service__description {
  padding-top: 10px;
}

.box-newsletter {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 960px) {
  .box-newsletter {
    grid-template-columns: repeat(3, 1fr);
  }
}

.news {
  background-color: #F0F0F0;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}
.news__date {
  color: #888888;
}
.news__title {
  color: #F03000;
  padding-top: 10px;
  font-weight: 600;
}
.news__description {
  padding-top: 10px;
}

.divider {
  background-color: #F03000;
  height: 2px;
  margin-top: 40px;
}

.page-title {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #F03000;
}

@media screen and (min-width: 960px) {
  .divided {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (min-width: 960px) {
  .section--right .trips-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 180px);
  }
  .section--right .trips-grid .trip {
    height: 180px;
    grid-column: 1/span 1;
    grid-row: auto/span 1;
  }
  .section--right .trips-grid .trip__title {
    font-size: 18px;
  }
}

.section > .trip {
  height: 100%;
}
.section > .trip__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-information {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  .box-information {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  .box-information {
    grid-template-columns: 1fr;
  }
}

.trip-info {
  background-color: #F0F0F0;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}
.trip-info__label {
  color: #888888;
  font-size: 14px;
}
.trip-info__description {
  padding-top: 10px;
}
.trip-info__description--cena {
  font-size: 28px;
  font-weight: 600;
}
.trip-info--cena {
  background-color: #F03000;
}
.trip-info--cena > p {
  color: rgb(255, 255, 255);
}

.footer {
  font-weight: 600;
  margin: 20px 0 40px;
  padding: 20px;
  background-color: #444444;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}/*# sourceMappingURL=style.css.map */